
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/indexdemo :: dynamic(~{::main})}">
<main>
	<th:block th:replace="/layout/_header.html"></th:block>

	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-section set-bg"
		data-setbg="/assets/images/bann.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>Tin tức</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<marquee direction="left">Chào mừng đên với Ogani - Chúng
		tôi luôn cung cấp nguyên liệu sạch và tươi ngon đến khách hàng</marquee>
	<!-- Breadcrumb Section End -->


	</div>

	<!-- Blog Section Begin -->
	<section class="blog spad">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<iframe width="100%" height="400"
						src="https://www.youtube.com/embed/aRxymTETvXk"
						title="YouTube video player" frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</div>
				<div class="col-sm-4">
					<h2 style="font-family: Florence, cursive; text-align: center;">Nông
						trại OGANI</h2>
					<hr>
					<h5>Hàng tươi giữ nguyên các dưỡng chất tự nhiên. Món quà sức
						khoẻ từ thiên niên. Thanh lọc cơ thể. Những giá trị đến từ những
						trang trại sanh và sạch Ngăn ngừa ung thư. Tăng cường sức khoẻ.
						Mang lại cho người dùng sự tin tưởng và an tâm đến chất lượng</h5>
				</div>
			</div>
			<br>
			<div class="container">
				<h2
					style="font-family: Florence, cursive; text-align: center; color: green">Thông
					tin nổi bật</h2>
				<hr>
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="row">
							<div th:each="b: ${blog}" class="col-lg-4 col-md-4 col-sm-4">
								<div class="blog__item">
									<div class="blog__item__pic">
										<img th:src="@{|/assets/images/${b.image}|}" alt=""
											style="height: 300px;">
									</div>
									<div class="blog__item__text">
										<ul>
											<li><i class="fa fa-calendar-o"></i>[[${b.createdate}]]</li>
										</ul>
										<h5>
											<a th:href="@{|/blogdetails/${b.id}|}" th:utext="${b.title}"></a>
										</h5>
										<p>[[${b.contents_short}]]</p>
										<a th:href="@{|/blogdetails/${b.id}|}" class="blog__btn">Xem
											thêm <span class="arrow_right"></span>
										</a>
									</div>
								</div>
							</div>
							<!-- <div class="col-lg-12">
                            <div class="product__pagination blog__pagination">
                                <a href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div> -->
						</div>
					</div>
				</div>
			</div>
	</section>
	<!-- Blog Section End -->



</main>
</html>
