<div class="col-md-12">
	<div class="card card-plain">
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Tên người dùng</th>
							<th>Ngày tạo</th>
							<th>Địa chỉ</th>
							<th>Số điện thoại</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in items | orderBy:'-createDate'">
							<td>{{item.id}}</td>
							<td>{{item.account.username}}</td>
							<td>{{item.createDate}}</td>
							<td>{{item.address}}</td>
							<td>{{item.numberphone}}</td>
							<td>
								<button ng-click="search(item)" class="btn btn-danger">
									<i class="fas fa-search"></i>
								</button>
								<button ng-click="delete(item)" class="btn btn-danger">
									<i class="fas fa-recycle"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>



<div class="panel panel-primary">
	<div
		style="font-size: 64px; font-family: 'Courier New', Courier, monospace;"></div>
	<h2 style="text-align: center;">Chi tiết đơn hàng</h2>
	<br> <br>
	<table class="table">
		<thead>
			<tr>
				<th>Mã sản phẩm</th>
				<th>Tên sản phẩm</th>
				<th>Giá</th>
				<th>Số lượng</th>
				<th>Tổng tiền</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in items | orderBy:'-createDate'">
				<td>{{item.id}}</td>
				<td>{{item.account.username}}</td>
				<td>{{item.createDate}}</td>
				<td>{{item.address}}</td>
				<td>{{item.numberphone}}</td>
			</tr>
		</tbody>
	</table>
</div>


