<div class="row">
	<div id="filter-order"
		class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<i class="fa fa-filter"></i><font style="vertical-align: inherit;"><font
						style="vertical-align: inherit;"> Lọc</font></font>
				</h3>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="control-label" for="input-order-id"><font
						style="vertical-align: inherit;"><font
							style="vertical-align: inherit;">Mã tin tức</font></font></label> <input
						type="text" name="filter_order_id" value=""
						placeholder="Nhập mã tin tức" id="input-order-id" class="form-control" ng-model="searchText.id">
				</div>
				<div class="form-group">
					<label class="control-label" for="input-customer"><font
						style="vertical-align: inherit;"><font
							style="vertical-align: inherit;">Tên chủ đề</font></font></label> <input
						type="text" name="filter_customer" value=""
						placeholder="Nhập tên chủ đề" id="input-customer"
						class="form-control" autocomplete="off" ng-model="searchText.title">
					<ul class="dropdown-menu"></ul>
				</div>
				<div class="form-group">
					<label class="control-label" for="input-date-added"><font
						style="vertical-align: inherit;"><font
							style="vertical-align: inherit;">Ngày thêm</font></font></label>
					<div class="input-group date">
						<!-- <input
							ng-model=" form.createDate" type="date" class="form-control"> -->
				<!-- 		<input class="datepicker" data-date-format="mm/dd/yyyy"
							placeholder="Nhập theo năm-tháng-ngày"
							ng-model=" searchText.createDate">  -->
						<input type="text"
							name="filter_customer" value="" placeholder="Năm-tháng-ngày"
							id="input-customer" class="form-control" autocomplete="off" data-date-format="mm/dd/yyyy"
							ng-model="searchText.createdate" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9 col-md-pull-3 col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<i class="fa fa-list"></i><font style="vertical-align: inherit;"><font
						style="vertical-align: inherit;"> Danh sách tin tức</font></font>
				</h3>
			</div>
			<div class="col-md-12">
				<div class="card card-plain">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-striped table-hover">
								<thead>
									<tr style="background-color: aquamarine">
										<th>Mã tin tức</th>
										<th>Tên chủ đề</th>
										<!-- <th>Nội dung chính</th>
										<th>Nội dung phụ 1</th>
										<th>Nội dung phụ 2</th>
										<th>Nội dung phụ 3</th> -->
										<th>Hình ảnh chính</th>
										<!-- <th>Hình ảnh phụ 1</th>
										<th>Hình ảnh phụ 2</th> -->
										<th>Ngày tạo</th>
										<th></th>
									</tr>
								</thead>

								<tbody>
									<tr
										dir-paginate="item in items | orderBy:items | filter:searchText | itemsPerPage: 3 ">
										<!--  | orderBy:'-createDate' -->
										<td>{{item.id}}</td>
										<td>{{item.title}}</td>
										<td><img ng-src="{{'/assets/images/'+ item.image}}"
											style="width: 100px; height: 100px"></td>
										<td>{{item.createdate}}</td>
										<td>
											<button ng-click="edit(item)" class="btn btn-success">
												<i class="fas fa-edit"></i>
											</button>
											<button ng-click="delete(item)" class="btn btn-danger" onclick="dele_success('success-message')">
												<i class="fas fa-recycle"></i>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
							<dir-pagination-controls max-size="5" direction-links="true"
								boundary-links="true"> </dir-pagination-controls>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>