<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-body">

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Mã danh mục</label> <input ng-model="form.categoryid" class="form-control" minlength="4" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Tên danh mục</label> <input type="text" ng-model="form.categoryname" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group col-sm-6">
                                                <label for="image"> <img
													ng-src="{{'/assets/images/'+ form.image}}"
													style="max-width: 100%;">
												</label>
                                                <div>Hình ảnh</div>
                                                <input type="file" class="form-control" id="image" onchange="angular.element(this).scope().imageChanged(this.files)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br> <br> <br>
                                <button ng-click="create()" class="btn btn-primary pull-right" onclick="add_success('success-message')">
									<b><i class="fas fa-plus-circle"></i> Thêm</b>
								</button>
                                <button ng-click="update()" class="btn btn-success pull-right" onclick="update_success('success-message')">
									<b><i class="fas fa-edit"></i> Cập nhật</b>
								</button>
                                <button ng-click="delete(form)" class="btn btn-danger pull-right" onclick="dele_success('success-message')">
									<b><i class="fas fa-recycle"></i> Xóa</b>
								</button>
                                <button ng-click="reset()" class="btn btn-info pull-right">
									<b><i class="fas fa-redo-alt"></i> Làm mới</b>
								</button>

                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>