
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/indexdemo :: dynamic(~{::main})}">
<body>
	<main>
		<th:block th:replace="/layout/_header.html"></th:block>
		<div class="card bg-dark text-white">
  <img src="https://as1.ftcdn.net/v2/jpg/02/91/49/54/1000_F_291495407_FjLd19KalzpWBuXYD9HhenjhhMYVcyfh.jpg"
  style="height: 100%" class="card-img" alt="...">
  <div class="card-img-overlay" style="margin-top: 130px">
    <h1 style="color: red;font-family:Comic Sans MS, cursive" class="card-title" ><strong>BẠN ĐÃ HỦY ĐƠN HÀNG</strong> </h1>
  <a href="/shop/page" class="primary-btn" style="background-color: green;">Trở về</a>
   
  </div>
</div>
	</main>



</body>

</html>