<html xmlns:th="http://www.thymeleaf.org">
<!-- Categories Section Begin -->
<section class="categories ">
        <div class="container ">
            <div class="row ">
                <div class="categories__slider owl-carousel ">
                    <div th:each="c:${cates}" class="col-lg-3 "><!-- data-setbg="/assets/img/categories/cat-1.jpg " -->
                        <div class="categories__item set-bg ">
                        	<!-- <img alt="" src="/assets/img/categories/cat-1.jpg"> -->
                        	<img alt="" th:src="@{|/assets/images/${c.image}|}"  style="height: 270px;width: 270;">
                        	
                            <h5><a th:href="@{|/shop/pagecate?cid=${c.categoryid}|}">[[${c.categoryname}]]</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Categories Section End -->