<div class="col-md-12">
  <div class="card card-plain">
    <div class="card-header card-header-primary">
      <h4 class="card-title mt-0"> DANH SÁCH TÀI KHOẢN</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr style="background-color: aquamarine">
              <th>Tên đăng nhập</th>
              <th>Họ và tên</th>
              <th>Email</th>
              <th>Hình</th>

              
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="acc in admins">
              <td>{{acc.username}}</td>
              <td>{{acc.name}}</td>
              <td>{{acc.email}}</td>
              <td><img ng-src="{{'/assets/images/'+ acc.image}}" style="width: 100px; height: 100px"></td>
              <td>
                <button ng-click="edit(acc)" class="btn btn-success"><i class="fas fa-edit"></i></button>
                <button ng-click="delete(acc)" onclick="dele_success('success-message')" class="btn btn-danger"><i class="fas fa-recycle"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
</div>